<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Ara...</title>
    <!-- Style -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <%- include ("../partials/bgimage.ejs") %>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        <div class="wraper">
            <%- include ("../partials/mobile_nav.ejs") %>
                <%- include ("../partials/nav.ejs") %>
        </div>
        <div class="search-area">
            <div class="search-box">
                <form class="form-bg" method="GET" action="">
                    <div class="in-form">
                        <input class="search-input" onkeyup="getMangas()" id="search-query" placeholder="Manga veya Yazar adı Ara.." value>
                        <img src="/static/images/search-2.svg" alt="" class="search-icon">
                    </div>
                </form>
                <form id="search-form">
                    <input type="text" onkeyup="search()" id="search-input">
                    <button type="submit" id="search-button">Search</button>
                  </form>
            </div>
        </div>
        <div class="wraper">
            <div id="default-item" class="default-item">
                <div class="top-items-title">
                    <span class="title">Arama Sonucu</span>
                </div>
                <div class="default-item-3">
                    <ul id="search-results"></ul>
                    <p id="no-items" style="display:none;"></p>
                </div>
            </div>
          
            <div id="search-notready" class="default-item">
                <div class="top-items-title">
                    <span class="title">Senin İçin Öneriler</span>
                </div>
                <div class="default-item-3">
                    <% randommangas.forEach(randommanga=> { %>
                        <a href="/comics/<%=randommanga.dataValues.manga_url%>" class="item-3">
                            <img class="item-img" src="<%=randommanga.dataValues.manga_image%>" alt="">
                            <span class="item-title">
                                <%=randommanga.dataValues.manga_title%>
                            </span>
                        </a>
                        <% }) %>
                </div>
            </div>
        </div>


</body>
<!-- SEARCH CONTROLLER -->
<!-- <script src="/static/js/live_search.js"></script> -->
<!-- SCROLL CONTROLLER -->
<script src="/static/js/scroll_to_top.js"></script>

<script>
    function search() {
      var searchValue = document.getElementById("search-input").value;   
      if (searchValue !== "") {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", `/api/D3H6G1J7K2M8/${searchValue}`);
        xhr.onload = function() {
          if (xhr.status === 200) {
            var data = JSON.parse(xhr.responseText);
            var searchResults = document.getElementById("search-results");
            var noItems = document.getElementById("no-items");
            searchResults.innerHTML = "";
            if (data.length === 0) { 
              noItems.style.display = "block";
              noItems.textContent = "Item bulunmadı";
            } else {
              noItems.style.display = "none";
              data.forEach(function(item) {
                var li = document.createElement("li");
                li.textContent = item.manga_title;
                searchResults.appendChild(li);
              });
            }
          }
        };
        xhr.send();
      }else {
        var div = document.createElement("div");
             searchResults.appendChild(div);
              noItems.style.display = "none";
      }
    }
  </script>
</html>