<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangater | <%= episode.dataValues.episode_title %> / <%= episode.dataValues.episode_name %></title>
    <!-- Style -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="read-top">
        <div class="read-left">
            <button onclick="history.back()" class="read-left-icon"><img src="/static/images/back.svg" alt=""></button>
            <a href="/"><img class="logo" src="/static/images/logo.png" alt=""></a>
        </div>
        <div class="read-medium">
            <span class="read-medium-top">
                <%= episode.dataValues.episode_title %>
            </span>
            <span class="read-medium-bottom"><%= episode.dataValues.episode_name %></span>
        </div>
        <div class="read-right">
            <a href="" class="read-buttons">
                <img class="read-icon" src="/static/images/subcribe.svg" alt="">
                <span class="read-text">Abone Ol</span>
            </a>
            <a href="" class="read-buttons">
                <img class="read-icon" src="/static/images/share.svg" alt="">
                <span class="read-text">Paylaş</span>
            </a>
        </div>
    </div>
    <div class="read-wraper">
        <% episodes.forEach(episode=> { %>
            <div class="read-img">
                <img src="<%= episode.dataValues.image_link %>" alt="">
               
            </div> 
           <div class="read-ads">Reklamlar</div>
            <% }) %>
    </div>

</body>

</html>